

/*******Base Style********/
	*{
		box-sizing: border-box;

	}


	body{
		background-color:#556B2F;
	}
	h1{
		font-size: 40px;
		text-align: center;
		margin-bottom: 30px;
		color: #A9A9A9;
	}
	
		
	p{
		border: 1px solid black;
		width: 20%;
		height: 15%;
		float: right;
		font-size: 1.05em;
		margin-block-start:0px;
   		margin-block-end: 0;
		background-color: #EEE8AA;
	}	
	article{
		clear: right;

	}

	section{
	
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid black;
		background-color: #8FBC8F;
		height: 150px;
		text-align: center;
	}
	
/**********Large devieces*************/

@media (min-width: 992px){

	.col-lg-4{
		float: left;
		width: 33.33%;
	}
	
	
	

	}

/**********Medium devieces*************/
@media (min-width: 768px) and (max-width: 991px){

	.col-md-6{
		float: left;
		width: 50%
	}
	.col-lg-12{
		float: left;
		width: 100%;
	}
	
	

	}

/**********small devieces*************/
@media (max-width: 767px){
	
	.col-lg-12{
		float: left;
		width: 100%
	}

	
}


